<% if (site.tags.length){ %>
  <div class="widget-wrap">
<<<<<<< HEAD
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
=======
    <h3 class="widget-title">Tag Cloud</h3>
>>>>>>> 53c4aa56d74bd90a8dd24037e51a526d21d19d0e
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>